@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 234, 234, 234;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  background-color: #121212;
}

/* Custom hide scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #E10600;
}
